{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $workDomain := "example.com" -}}
{{- $isWork := hasSuffix (printf "@%s" $workDomain) $email -}}

encryption: "age"

age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age10f7hdwlwren0s37x0rvkz9hm36uyz93v7zxxzuu03xvsp7wdvpesrwtf2q"

git:
  autoCommit: true
  autoPush: false

bitwarden:
  command: bash
  args: ["-c", 'BW_SESSION=$(cat ~/.bw_session 2>/dev/null) exec bw "$@"', "--"]

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  isWork: {{ $isWork }}
  workDomain: {{ $workDomain | quote }}
