{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $workDomain := "example.com" -}}
{{- $isWork := hasSuffix (printf "@%s" $workDomain) $email -}}

encryption: "age"

age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "age15j2c7ydy27fe32yku96aj7f2pse6zve4kdzhhw2pf7kzjjvj090shhafuv"

git:
  autoCommit: true
  autoPush: false

bitwarden:
  command: {{ .chezmoi.homeDir }}/.local/bin/bw-session

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  isWork: {{ $isWork }}
  workDomain: {{ $workDomain | quote }}
