{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $workDomain := "example.com" -}}
{{- $isWork := hasSuffix (printf "@%s" $workDomain) $email -}}

git:
  autoCommit: true
  autoPush: false

bitwarden:
  command: {{ .chezmoi.homeDir }}/.local/bin/bw-session

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  isWork: {{ $isWork }}
  workDomain: {{ $workDomain | quote }}
{{- if $isWork }}
{{- $workRepoUrl := promptStringOnce . "workRepoUrl" "Work dotfiles repo URL" }}
  workRepoUrl: {{ $workRepoUrl | quote }}
  workRepoPath: {{ joinPath .chezmoi.homeDir ".local/share/work-dotfiles" | quote }}
{{- end }}
