[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ if .isWork }}REDACTED_WORK_GPG_KEY{{ else }}91597F0387C6CED47F4CDAE0C43BCF28FD53157D{{ end }}
[commit]
	gpgsign = true
[pull]
	rebase = true
[stash]
	showPatch = true
	showStat = false
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = store
{{ end -}}
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
{{ if .isWork -}}
[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.gitconfig-personal
{{ end -}}
