[user]
	name = {{ $name }}
	email = {{ $email }}

[pull]
	rebase = true

[stash]
	showPatch = true
	showStat = false


[credential]
	helper = store

[rerere]
	enabled = true

[branch]
	autosetuprebase = always
