{{- $isDarwin := eq .chezmoi.os "darwin" -}}
# Path to your oh-my-zsh installation.
export ZSH="${HOME}/.oh-my-zsh"

# Virtualenv
ZSH_THEME_VIRTUALENV_PREFIX=" ["

# Pre oh-my-zsh work hooks (kube-ps1, AWS, WORK_PLUGINS)
[[ -f ~/.zshrc.d/pre.zsh ]] && source ~/.zshrc.d/pre.zsh

# Theme
ZSH_THEME="crcandy"

# Update behavior
zstyle ':omz:update' mode reminder

# Completion
HYPHEN_INSENSITIVE="true"
COMPLETION_WAITING_DOTS="true"

# VCS performance
DISABLE_UNTRACKED_FILES_DIRTY="true"
{{- if $isDarwin }}

# iterm2 shell integration
zstyle :omz:plugins:iterm2 shell-integration yes
{{- end }}

# Plugins
plugins=(
    colored-man-pages
    colorize
    fzf
    git
    git-extras
    podman
    virtualenv
    zsh-autosuggestions
    zsh-syntax-highlighting
{{- if $isDarwin }}
    iterm2
{{- end }}
{{- if lookPath "brew" }}
    brew
{{- end }}
)
[[ -n "${WORK_PLUGINS:-}" ]] && plugins+=($=WORK_PLUGINS)

source "${ZSH}/oh-my-zsh.sh"

# User configuration
export LANG=en_US.UTF-8
{{- if lookPath "go" }}
export PATH="${PATH}:${HOME}/go/bin"
{{- end }}
{{- if lookPath "brew" }}

# homebrew completions
if type brew &>/dev/null; then
    FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

    autoload -Uz compinit
    compinit
fi
{{- end }}

# Post oh-my-zsh work hooks (.krew PATH, source zshrc.ds)
[[ -f ~/.zshrc.d/post.zsh ]] && source ~/.zshrc.d/post.zsh
{{- if $isDarwin }}
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{- end }}
