[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = 91597F0387C6CED47F4CDAE0C43BCF28FD53157D
[commit]
	gpgsign = true
[pull]
	rebase = true
[stash]
	showPatch = true
	showStat = false
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = store
{{ end -}}
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[include]
	path = ~/.gitconfig.d/work
