{
  "version": 2,
  "plugins": {
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:58:30.572Z",
        "lastUpdated": "2026-02-16T07:58:30.572Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:58:40.316Z",
        "lastUpdated": "2026-02-16T07:58:40.316Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "feature-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/feature-dev/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:58:53.717Z",
        "lastUpdated": "2026-02-16T07:58:53.717Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-16T07:58:59.816Z",
        "lastUpdated": "2026-02-16T07:58:59.816Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/4.3.0",
        "version": "4.3.0",
        "installedAt": "2026-02-16T07:59:05.968Z",
        "lastUpdated": "2026-02-16T07:59:05.968Z",
        "gitCommitSha": "e16d611eee14ac4c3253b4bf4c55a98d905c2e64"
      }
    ],
    "ralph-loop@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/ralph-loop/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:59:11.278Z",
        "lastUpdated": "2026-02-16T07:59:11.278Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "commit-commands@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/commit-commands/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:59:22.364Z",
        "lastUpdated": "2026-02-16T07:59:22.364Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "claude-md-management@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-md-management/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-02-16T07:59:40.374Z",
        "lastUpdated": "2026-02-16T07:59:40.374Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "security-guidance@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/security-guidance/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:59:45.002Z",
        "lastUpdated": "2026-02-16T07:59:45.002Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ],
    "pr-review-toolkit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pr-review-toolkit/2cd88e7947b7",
        "version": "2cd88e7947b7",
        "installedAt": "2026-02-16T07:59:48.348Z",
        "lastUpdated": "2026-02-16T07:59:48.348Z",
        "gitCommitSha": "2cd88e7947b7382e045666abee790c7f55f669f3"
      }
    ]
  }
}
